[Unit]
Description=StuffedAnimalWar Chat Engine
After=network.target
After=wifi-manager.service
Requires=wifi-manager.service

[Service]
Type=simple
User=jaemzware
WorkingDirectory=/home/jaemzware/stuffedanimalwar
ExecStart=/usr/bin/node index.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PORT=55556"

[Install]
WantedBy=multi-user.target